################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/api/api/obj
/api/api/appsettings.json
*.json
api/obj/API.csproj.EntityFrameworkCore.targets
api/obj/API.csproj.nuget.g.props
api/obj/API.csproj.nuget.g.targets
api/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
api/obj/Debug/netcoreapp3.1/API.AssemblyInfo.cs
api/obj/Debug/netcoreapp3.1/API.csproj.CopyComplete
api/obj/Debug/netcoreapp3.1/API.csproj.FileListAbsolute.txt
api/obj/Debug/netcoreapp3.1/staticwebassets/API.StaticWebAssets.xml
.vs/api/DesignTimeBuild/.dtbcache.v2
.vs/api/config/applicationhost.config
api/obj/Debug/netcoreapp3.1/api.MvcApplicationPartsAssemblyInfo.cs
api/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
api/obj/Release/netcoreapp3.1/api.AssemblyInfo.cs
api/obj/Release/netcoreapp3.1/api.csproj.CopyComplete
api/obj/Release/netcoreapp3.1/api.csproj.FileListAbsolute.txt
api/obj/Release/netcoreapp3.1/api.MvcApplicationPartsAssemblyInfo.cs
api/obj/Release/netcoreapp3.1/PublishOutputs.47b027ba1d.txt
api/obj/Release/netcoreapp3.1/PubTmp/api.Parameters.xml
api/obj/Release/netcoreapp3.1/PubTmp/api.SourceManifest.xml
api/obj/Release/netcoreapp3.1/PubTmp/Out/web.config
api/obj/Release/netcoreapp3.1/staticwebassets/api.StaticWebAssets.xml
api/Properties/PublishProfiles/awepayapi - FTP.pubxml
api/Properties/PublishProfiles/awepayapi - ReadOnly - FTP.pubxml
api/Properties/PublishProfiles/awepayapi - Web Deploy.pubxml
